/*Elementi di allineamento al centro*/
/*Per centrare orizzontalmente un elemento di blocco (come <div>), utilizzaremargin: auto;
Impostando la larghezza dell'elemento si impedirà che si estenda fino ai bordi del suo contenitore.
L'elemento occuperà quindi la larghezza specificata e lo spazio 
rimanente verrà suddiviso equamente tra i due margini:*/

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
/*l'allineamento al centro non ha effetto se la width
proprietà non è impostata (o è impostata al 100%).*/

/*Allinea al centro il testo
Per centrare semplicemente il testo all'interno di un elemento, utilizzaretext-align: center;*/

.center {
    text-align: center;
    border: 3px solid green;
  }

/*Centra un'immagine*/
/*Per centrare un'immagine, imposta il margine sinistro e destro su autoe trasformalo in un blockelemento:*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

/*Allineamento a sinistra e a destra - Utilizzo della posizione*/
/*Un metodo per allineare gli elementi è utilizzare position: absolute;:*/  

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

/*Allineamento a sinistra e a destra - Utilizzo del float

Un altro metodo per allineare gli elementi è quello di utilizzare la float proprietà:*/

.right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }
/*L'hack di Clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
/*Centrare verticalmente - Utilizzo del padding*/
.center {
    padding: 70px 0;
    border: 3px solid green;
  }
/*Per centrare sia verticalmente che orizzontalmente, utilizzare paddinge text-align: center:*/  
.center {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
  }
/*Centra verticalmente - Utilizzo dell'altezza della linea*/
.center {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
  }
  

  .center p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }

/*Centra verticalmente - Utilizzo di posizione e trasformazione*/
.center {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*Centra verticalmente - Utilizzo di Flexbox*/

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
  }