/*Selettore CSS [attributo]
Il [attribute]selettore viene utilizzato per selezionare elementi con un attributo specificato.*/
a[target] {
    background-color: yellow;
  }
/*Selettore CSS [attributo="valore"]
Il [attribute="value"]selettore viene utilizzato per selezionare elementi 
con un attributo e un valore specificati.
*/  
a[target="_blank"] {
    background-color: yellow;
  }
  /*Selettore CSS [attributo~="valore"]
  Il [attribute~="value"]selettore viene utilizzato per selezionare 
  elementi con un valore di attributo contenente una parola specificata.*/
  [title~="flower"] {
    border: 5px solid yellow;
  }
  /*Selettore CSS [attributo|="valore"]
  Il [attribute|="value"]selettore viene utilizzato per selezionare elementi con l'attributo specificato, 
  il cui valore può essere esattamente il valore specificato
   oppure il valore specificato seguito da un trattino (-).*/
   [class|="top"] {
    background: yellow;
  }
/*Selettore CSS [attributo^="valore"]
Il [attribute^="value"]selettore viene utilizzato per selezionare gli elementi con l'attributo specificato,
 il cui valore inizia con il valore specificato.*/  
 [class^="top"] {
    background: yellow;
  }

/*Selettore CSS [attributo$="valore"]
Il [attribute$="value"]selettore viene utilizzato per selezionare gli elementi 
il ​​cui valore di attributo termina con un valore specificato.*/
[class$="test"] {
    background: yellow;
  }
  /*Selettore CSS [attributo*="valore"]
  Il [attribute*="value"]selettore viene utilizzato per selezionare gli elementi ù
  il ​​cui valore di attributo contiene un valore specificato.*/
  [class*="te"] {
    background: yellow;
  }