
/*Per aggiungere un bordo, utilizzare la borderproprietà CSS sugli elementi table, th, e :td*/
table, th, td {
    border: 1px solid black;
  }

/*Per evitare di avere doppi bordi come nell'esempio precedente, 
impostare la border-collapse proprietà CSS su collapse.*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  /*Bordi della tabella di stile*/
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }
  /*Bordi Rotondi*/
  /*Con la border-radiusproprietà, i bordi ottengono angoli arrotondati:*/
  table, th, td {
    border: 1px solid black;
    border-radius: 10px;
  }
  /*Bordi  punteggiati*/
  th, td {
    border-style: dotted;
  }

  /*Con la border-colorproprietà è possibile impostare il colore del bordo.*/
  th, td {
    border-color: #96D4D4;
  }

 /*Le proprietà CSS del bordo consentono di specificare lo stile, la larghezza e il colore 
 del bordo di un elemento.*/
 
 /*Stile bordo CSS*/
 /*La border-style proprietà specifica che tipo di bordo visualizzare.*/

 /*dotted- Definisce un bordo punteggiato
dashed- Definisce un bordo tratteggiato
solid- Definisce un bordo solido
double- Definisce un doppio bordo
groove- Definisce un bordo scanalato 3D. L'effetto dipende dal valore del colore del bordo
ridge- Definisce un bordo scanalato 3D. L'effetto dipende dal valore del colore del bordo
inset- Definisce un bordo di inserto 3D. L'effetto dipende dal valore del colore del bordo
outset- Definisce un bordo di inizio 3D. L'effetto dipende dal valore del colore del bordo
none- Non definisce alcun bordo
hidden- Definisce un bordo nascosto*/

/**La border-style proprietà può avere da uno a quattro valori**/
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

/*Larghezza bordo CSS*/
/*La border-width proprietà specifica la larghezza dei quattro bordi.*/

p.one {
  border-style: solid;
  border-width: 5px;
}

p.two {
  border-style: solid;
  border-width: medium;
}

p.three {
  border-style: dotted;
  border-width: 2px;
}

p.four {
  border-style: dotted;
  border-width: thick;
}

/*Larghezze laterali specifiche*/
/*La border-width proprietà può avere da uno a quattro valori */
p.one {
  border-style: solid;
  border-width: 5px 20px; 
}

p.two {
  border-style: solid;
  border-width: 20px 5px; 
}

p.three {
  border-style: solid;
  border-width: 25px 10px 4px 35px; 
}

/*Colore del bordo CSS*/
/*La border-colorproprietà viene utilizzata per impostare il colore dei quattro bordi.*/
/*Il colore può essere impostato tramite:*/
/*nome - specifica un nome di colore, come "rosso"
HEX - specifica un valore HEX, come "#ff0000"
RGB - specifica un valore RGB, come "rgb(255,0,0)"
HSL - specifica un valore HSL, come "hsl(0, 100%, 50%)"
trasparente*/

p.one {
  border-style: solid;
  border-color: red;
}

p.two {
  border-style: solid;
  border-color: green;
}

p.three {
  border-style: dotted;
  border-color: blue;
}

/*Colori specifici dei lati*/
/*La border-colorproprietà può avere da uno a quattro valori*/
p.one {
  border-style: solid;
  border-color: red green blue yellow; 
}
/*Valori HEX*/
/*Il colore del bordo può essere specificato anche utilizzando un valore esadecimale*/

p.one {
  border-style: solid;
  border-color: #ff0000; 
}

/*Valori RGB*/
p.one {
  border-style: solid;
  border-color: rgb(255, 0, 0); 
}

/*Valori HSL*/
p.one {
  border-style: solid;
  border-color: hsl(0, 100%, 50%); 
}

/*Bordo CSS - Lati Singoli*/
p {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}

/*Ecco come funziona:

Se la border-style proprietà ha quattro valori:

stile del bordo: punteggiato continuo doppio tratteggiato;
il bordo superiore è punteggiato
il bordo destro è solido
il bordo inferiore è doppio
il bordo sinistro è tratteggiato
Se la border-style proprietà ha tre valori:

stile del bordo: doppio solido punteggiato;
il bordo superiore è punteggiato
i bordi destro e sinistro sono solidi
il bordo inferiore è doppio
Se la border-style proprietà ha due valori:

stile del bordo: punteggiato continuo;
i bordi superiore e inferiore sono punteggiati
i bordi destro e sinistro sono solidi
Se la border-style proprietà ha un valore:

stile del bordo: punteggiato;
tutti e quattro i bordi sono punteggiati*/

/* Four values */
p {
  border-style: dotted solid double dashed;
}

/* Three values */
p {
  border-style: dotted solid double;
}

/* Two values */
p {
  border-style: dotted solid;
}

/* One value */
p {
  border-style: dotted;
}

/*CSS Border - Proprietà abbreviata*/
/*La borderproprietà è una proprietà abbreviata per le seguenti proprietà individuali del bordo:

border-width
border-style(necessario)
border-color*/

p {
  border: 5px solid red;
}
/*Bordo sinistro*/
p {
  border-left: 6px solid red;
}

/*Bordo Inferiore*/
p {
  border-bottom: 6px solid red;
}

/*CSS Bordi arrotondati*/
/*La border-radiusproprietà viene utilizzata per aggiungere bordi arrotondati a un elemento*/
p {
  border: 2px solid red;
  border-radius: 5px;
}

/*Stile del Bordo in CSS
La proprietà border-style specifica quale tipo di bordo mostrare.
I seguenti valori sono ammessi:

dotted: Definisce un bordo tratteggiato
dashed: Definisce un bordo a tiretto
solid: Definisce un bordo solido
double: Definisce un bordo doppio
groove: Definisce un bordo incavato in 3D.
ridge: Definisce un bordo in rilievo in 3D.
inset: Definisce un bordo in rilievo in 3D.
outset: Definisce un bordo sporgente in 3D.
none: Definisce nessun bordo
hidden: Definisce un bordo nascosto

Larghezza del Bordo in CSS
La proprietà border-width specifica la larghezza dei quattro bordi.

La larghezza può essere impostata come dimensione specifica (in px, pt, cm, em, ecc.) 
o utilizzando uno dei tre valori predefiniti: thin (sottile), medium (medio) o thick (spesso):*/
/* Esempio di diverse larghezze di bordo */
p.uno {
  border-style: solid;
  border-width: 5px;
}

p.due {
  border-style: solid;
  border-width: medium;
}

p.tre {
  border-style: dotted;
  border-width: 2px;
}

p.quattro {
  border-style: dotted;
  border-width: thick;
}

/*Larghezze Specifiche per i Lati
La proprietà border-width può avere da uno a quattro valori 
(per il bordo superiore, il bordo destro, il bordo inferiore e il bordo sinistro):*/
/* Esempio di larghezze specifiche per i lati */
p.uno {
  border-style: solid;
  border-width: 5px 20px; /* 5px per il bordo superiore e inferiore, 20px sui lati */
}

p.due {
  border-style: solid;
  border-width: 20px 5px; /* 20px per il bordo superiore e inferiore, 5px sui lati */
}

p.tre {
  border-style: solid;
  border-width: 25px 10px 4px 35px; /* 25px per il bordo superiore, 
  10px per il bordo destro, 4px per il bordo inferiore e 35px per il bordo sinistro */
}
/*Colore del Bordo in CSS
La proprietà border-color viene utilizzata per impostare il colore dei quattro bordi.

Il colore può essere impostato tramite:

nome: specifica un nome di colore, come “red”
HEX: specifica un valore HEX, come “#ff0000”
RGB: specifica un valore RGB, come “rgb(255,0,0)”
HSL: specifica un valore HSL, come “hsl(0, 100%, 50%)”
transparent (trasparente)*/
/* Esempio di diversi colori di bordo */
p.uno {
  border-style: solid;
  border-color: red;
}

p.due {
  border-style: solid;
  border-color: green;
}

p.tre {
  border-style: dotted;
  border-color: blue;
}
/*Colori Specifici per i Lati del Bordo
La proprietà border-color può avere da uno a quattro valori*/
/* Esempio di colori specifici per i lati del bordo */
p.uno {
  border-style: solid;
  border-color: red green blue yellow; 
  /* rosso per il bordo superiore, verde per il bordo destro, blu per il bordo inferiore,
   giallo per il bordo sinistro */
}

/*Bordo CSS Scorciatoia
La proprietà border è una proprietà abbreviata per le seguenti proprietà di bordo individuali:

border-width
border-style
border-color*/
p {
  border: 5px solid red;
}

/*Bordi Arrotondati in CSS
La proprietà border-radius viene utilizzata per aggiungere bordi arrotondati a un elemento.*/
p {
  border: 2px solid red;
  border-radius: 5px;
}
