/*Bordi della tabella*/
/*Per specificare i bordi della tabella in CSS, utilizzare la border proprietà.*/
table, th, td {
    border: 1px solid;
  }

  /*Tabella a tutta larghezza*/
  table {
    width: 100%;
  }

  
  /*Riduci i bordi della tabella*/
/*La border-collapse proprietà imposta se i bordi della tabella devono essere compressi in un unico bordo*/
table {
    border-collapse: collapse;
  }

  /*Larghezza e altezza del tavolo*/
  /*La larghezza e l'altezza di una tabella sono definite dalle proprietà widthe height.*/
  table {
    width: 100%;
  }
  
  th {
    height: 70px;
  }

  /*Allineamento orizzontale*/
  td {
    text-align: center;
  }

  th {
    text-align: left;
  }

/*Allineamento verticale*/
td {
    height: 50px;
    vertical-align: bottom;
  }

/*Imbottitura del tavolo*/
  th, td {
    padding: 15px;
    text-align: left;
  }

  th, td {
    border-bottom: 1px solid #ddd;
  }
  