/*La selezione del carattere è importante
La scelta del font giusto ha un impatto enorme sul modo in cui i lettori percepiscono un sito web.
Il font giusto può creare un'identità forte per il tuo marchio.
È importante usare un font che sia facile da leggere. Il font aggiunge valore al tuo testo. 
È anche importante scegliere il colore e la dimensione del testo corretti per il font.

Famiglie di font generici
Nei CSS ci sono cinque famiglie di font generici:

I font Serif hanno un piccolo tratto sui bordi di ogni lettera. Creano un senso di formalità ed eleganza.
I font sans-serif hanno linee pulite (nessun piccolo tratto attaccato). 
Creano un aspetto moderno e minimalista.
Font monospaziati : qui tutte le lettere hanno la stessa larghezza fissa. Creano un aspetto meccanico. 
I caratteri corsivi imitano la scrittura umana.
I font fantasy sono font decorativi/giocosi.
Tutti i diversi nomi di font appartengono a una delle famiglie di font generici. 

La proprietà CSS font-family
In CSS utilizziamo la font-familyproprietà per specificare il font di un testo.
se il nome del font è composto da più di una parola, deve essere racchiuso tra virgolette, 
ad esempio: "Times New Roman".
*/
.p1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }
/*Cosa sono i font Web Safe?
I font sicuri per il Web sono font installati universalmente su tutti i browser e dispositivi.

Caratteri di fallback
Tuttavia, non esistono font completamente sicuri al 100%. C'è sempre la possibilità che un 
font non venga trovato o non sia installato correttamente.

Per questo motivo è molto importante utilizzare sempre font di riserva.

Ciò significa che dovresti aggiungere un elenco di "font di backup" simili nella font-family proprietà. 
Se il primo font non funziona, il browser proverà quello successivo, e quello ancora dopo, e così via. */
p {
    font-family: Tahoma, Verdana, sans-serif;
}

/*Stile del carattere
La font-styleproprietà viene utilizzata principalmente per specificare testo in corsivo.
Questa proprietà ha tre valori:

normale - Il testo viene visualizzato normalmente
corsivo - Il testo è mostrato in corsivo
obliquo - Il testo è "inclinato"*/
p.normal {
    font-style: normal;
  }
  
  p.italic {
    font-style: italic;
  }
  
  p.oblique {
    font-style: oblique;
  }

/*Peso del carattere*/
/*La font-weight proprietà specifica il peso di un font:*/
p.normal {
    font-weight: normal;
  }
  
  p.thick {
    font-weight: bold;
  }
  /*Variante del carattere
  La font-variantproprietà specifica se un testo deve essere visualizzato o meno in maiuscoletto.*/
  p.normal {
    font-variant: normal;
  }
  
  p.small {
    font-variant: small-caps;
  }

/*Dimensione del carattere
La font-sizeproprietà imposta la dimensione del testo.
Dimensione assoluta:

Imposta il testo su una dimensione specificata
Non consente all'utente di modificare la dimensione del testo in tutti i browser 
(non valido per motivi di accessibilità)
La dimensione assoluta è utile quando è nota la dimensione fisica dell'output
Dimensioni relative:

Imposta la dimensione relativa agli elementi circostanti
Consente all'utente di modificare la dimensione del testo nei browser

Imposta la dimensione del carattere con i pixel*/
h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  p {
    font-size: 14px;
  }
  /*Imposta la dimensione del carattere con Em*/
  h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
  }
  
  h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
  }
  
  p {
    font-size: 0.875em; /* 14px/16=0.875em */
  }



  /*Usa una combinazione di percentuale ed em*/

  body {
    font-size: 100%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.875em;
  }
  
  p {
    font-size: 0.875em;
  }
  
  /*Regole di abbinamento dei caratteri

  1. Complemento
È sempre consigliabile trovare abbinamenti di caratteri che si completino a vicenda.
Una buona combinazione di caratteri dovrebbe essere armoniosa,
 senza essere né troppo simile né troppo diversa.
 2. Utilizzare le superfamiglie di font
Una superfamiglia di font è un set di font progettati per funzionare bene insieme. 
Quindi, usare font diversi all'interno della stessa superfamiglia è sicuro.

3. Il contrasto è fondamentale
Due font troppo simili spesso entrano in conflitto. 
Tuttavia, i contrasti, se fatti nel modo giusto, fanno emergere il meglio di ogni font.
4. Scegli un solo capo
Un font dovrebbe essere il capo. Questo stabilisce una gerarchia per i font sulla tua pagina.
 Questo può essere ottenuto variando la dimensione, il peso e il colore.*/
 body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: gray;
  }
  
  h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    color: white;
  }

  /*La proprietà del carattere CSS
  La fontproprietà è una proprietà abbreviata per:

font-style
font-variant
font-weight
font-size/line-height
font-family
Nota: i valori font-sizee font-family sono obbligatori. 
Se uno degli altri valori è mancante, viene utilizzato il loro valore predefinito.*/

p.a {
    font: 20px Arial, sans-serif;
  }
  
  p.b {
    font: italic small-caps bold 12px/30px Georgia, serif;
  }
