/*Colori CSS*/
/*I colori vengono specificati utilizzando nomi di colore predefiniti o valori RGB, HEX, HSL, RGBA, HSLA.*/
/*Colore di sfondo CSS*/
/*È possibile impostare il colore di sfondo per gli elementi HTML:*/
/*<h1 style="background-color:DodgerBlue;">Hello World</h1>
<p style="background-color:Tomato;">Lorem ipsum...</p>*/

/*Colore del testo CSS*/
/*<h1 style="color:Tomato;">Hello World</h1>
<p style="color:DodgerBlue;">Lorem ipsum...</p>
<p style="color:MediumSeaGreen;">Ut wisi enim...</p>*/

/*Colore del bordo CSS*/
/*<h1 style="border:2px solid Tomato;">Hello World</h1>
<h1 style="border:2px solid DodgerBlue;">Hello World</h1>
<h1 style="border:2px solid Violet;">Hello World</h1>



Valore HEX a 3 cifre
Il codice esadecimale a 3 cifre è una forma abbreviata di alcuni codici esadecimali a 6 cifre.

Il codice esadecimale a 3 cifre ha la seguente forma:*/

body {
    background-color: #fc9; /* same as #ffcc99 */
  }
  
  h1 {
    color: #f0f; /* same as #ff00ff */
  }
  
  p {
    color: #b58; /* same as #bb5588 */
  }
  