/*Numerazione automatica con contatori*/

/*I contatori CSS sono come delle "variabili". 
I valori delle variabili possono essere incrementati dalle regole CSS*/
/*counter-reset- Crea o azzera un contatore
counter-increment- Incrementa il valore di un contatore
content- Inserisce contenuti generati
counter()o counters()funzione - Aggiunge il valore di un contatore a un elemento
Per utilizzare un contatore CSS, è necessario prima crearlo con counter-reset.*/




body {
    counter-reset: section;
  }
  
  h2::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
  }


/*Contatori nidificati*/
  body {
    counter-reset: section;
  }
  
  h1 {
    counter-reset: subsection;
  }
  
  h1::before {
    counter-increment: section;
    content: "Section " counter(section) ". ";
  }
  
  h2::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
  }

/*Un contatore può anche essere utile per creare elenchi delineati perché una nuova istanza di un contatore 
viene creata automaticamente negli elementi figlio.
Qui utilizziamo la counters()
funzione per inserire una stringa tra diversi livelli di contatori nidificati:*/
ol {
    counter-reset: section;
    list-style-type: none;
  }
  
  li::before {
    counter-increment: section;
    content: counters(section,".") " ";
  }

