/*La float proprietà CSS specifica come un elemento deve essere flottante.
La clear proprietà CSS specifica quali elementi possono fluttuare accanto 
all'elemento cancellato e su quale lato

La proprietà float
La float proprietà viene utilizzata per posizionare e formattare il contenuto, 
ad esempio per far sì che un'immagine fluttui a sinistra del testo in un contenitore.
La float proprietà può avere uno dei seguenti valori:

left- L'elemento galleggia a sinistra del suo contenitore
right- L'elemento galleggia a destra del suo contenitore
none- L'elemento non è mobile (verrà visualizzato solo dove si trova nel testo). 
Questa è l'impostazione predefinita
inherit- L'elemento eredita il valore float del suo genitore
Nel suo utilizzo più semplice, la float proprietà può essere 
utilizzata per disporre il testo attorno alle immagini.*/
img {
    float: right;
  }
  img {
    float: left;
  }
  img {
    float: none;
  }

/*clear and clearfix
The clear Property
Quando utilizziamo la float proprietà e vogliamo l'elemento successivo sotto 
(non a destra o a sinistra), dovremo utilizzare la clear proprietà.
La clear proprietà specifica cosa deve accadere all'elemento che si trova accanto a un elemento mobile.
La clear proprietà può avere uno dei seguenti valori:

none- L'elemento non viene spinto sotto gli elementi flottanti a sinistra o a destra. 
Questa è l'impostazione predefinita
left- L'elemento viene spinto sotto gli elementi flottanti a sinistra
right- L'elemento viene spinto sotto gli elementi flottanti a destra
both- L'elemento viene spinto sotto gli elementi flottanti sia a sinistra che a destra
inherit- L'elemento eredita il valore clear dal suo genitore
Quando si cancellano i float, si dovrebbe abbinare il clear al float: 
se un elemento è flottato a sinistra, allora si dovrebbe cancellare a sinistra. 
Il tuo elemento flottato continuerà a galleggiare, 
ma l'elemento cancellato apparirà sotto di esso sulla pagina web.*/

div1 {
    float: left;
  }
  
  div2 {
    clear: left;
  }
  /*Clearfix overflow: auto funziona bene finché riesci a mantenere il controllo dei tuoi margini e padding */
  .clearfix {
    overflow: auto;
  }
/*Che cosa si intende per "box-sizing"?

Puoi facilmente creare tre box mobili affiancati. Tuttavia, 
quando aggiungi qualcosa che aumenta la larghezza di ogni box
 (ad esempio padding o bordi), il box si romperà. 
 La box-sizing proprietà ci consente di includere padding e bordo nella larghezza totale del box 
 (e altezza), assicurandoci che il padding resti all'interno del box e che non si rompa.*/
 .img-container {
    float: left;
    width: 33.33%; 
    padding: 5px; 
  }

/*La proprietà float viene utilizzata per il posizionamento e la formattazione del contenuto, 
ad esempio per far sì che un’immagine fluttui a sinistra del testo.

La proprietà float può avere uno dei seguenti valori:

left - L’elemento fluttua a sinistra del suo contenitore
right - L’elemento fluttua a destra del suo contenitore
none - L’elemento non fluttua (verrà visualizzato esattamente dove compare nel testo). 
Questo è il valore predefinito
inherit - L’elemento eredita il valore di float dal suo elemento genitore*/

/*Prorietà clear*
La proprietà clear specifica cosa dovrebbe accadere con l’elemento che è accanto a un elemento fluttuante.
La proprietà clear può avere uno dei seguenti valori:
none - L’elemento non viene spostato sotto gli elementi fluttuanti a sinistra o a destra. Questo è il valore predefinito.
left - L’elemento viene spostato sotto gli elementi fluttuanti a sinistra.
right - L’elemento viene spostato sotto gli elementi fluttuanti a destra.
both - L’elemento viene spostato sotto sia gli elementi fluttuanti a sinistra che quelli a destra.
inherit - L’elemento eredita il valore di clear dal suo elemento genitore.
Quando si cancellano le fluttuazioni, è necessario abbinare il clear al float: 
se un elemento è fluttuante a sinistra, 
allora dovresti cancellare a sinistra. Il tuo elemento fluttuante continuerà a fluttuare,
 ma l’elemento cancellato apparirà sotto di esso sulla pagina web.*/
 img {
  float: left;
}

p {
  clear: left;
}