 /*Come funziona il CSS*/

 /*selettore*/
 .p{
    /*proprietà*/
    color:aqua; /*proprietà valore*/
    /*dichiarazione*/
 }

 /*!important​*/
 /*A volte, tuttavia, può essere necessario sovrascrivere questa gerarchia predefinita.​

Ed è qui che entra in gioco l’attributo !important: 
se aggiunto ad una dichiarazione può forzare la sua applicazione, 
indipendentemente dalle altre regole presenti.​*/
​

 .p{
    color:aqua !important; /*sovrascrive la proprietà precedente*/
 }

 /*Bordo CSS*/
 /*La borderproprietà CSS definisce un bordo attorno a un elemento HTML.*/
 p {
    border: 2px solid powderblue;
  }

  /*Riempimento CSS*/
  /*La paddingproprietà CSS definisce un padding (spazio) tra il testo e il bordo.*/
  p {
    border: 2px solid powderblue;
    padding: 30px;
  }

  /*Margine CSS*/
  /*La marginproprietà CSS definisce un margine (spazio) all'esterno del bordo.*/
  p {
    border: 2px solid powderblue;
    margin: 50px;
  }

 
/*Z-Index in CSS*/
/*Quando gli elementi vengono posizionati, possono sovrapporsi ad altri elementi.
La proprietà z-index specifica l’ordine dello stack di un elemento*/
h1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}
h2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}
h3 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}