/*Utilizzare la width proprietà per determinare la larghezza del campo di input:*/
input {
    width: 100%;
  }
/*input[type=text]- selezionerà solo i campi di testo
input[type=password]- selezionerà solo i campi password
input[type=number]- selezionerà solo i campi numerici*/
/*Utilizzare la padding proprietà per aggiungere spazio all'interno del campo di testo.*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
/*Ingressi delimitati
Utilizzare la borderproprietà per modificare le dimensioni e il colore 
del bordo e border-radius per aggiungere angoli arrotondati:*/  
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
  }

  /*Se si desidera solo un bordo inferiore, utilizzare la border-bottom proprietà:*/
  input[type=text] {
    border: none;
    border-bottom: 2px solid red;
  }

/*Utilizzare la background-color proprietà per aggiungere un colore di sfondo 
all'input e la color proprietà per modificare il colore del testo*/
input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }

/*Input mirati
Utilizzare il :focusselettore per eseguire un'operazione con il campo di input quando è attivo*/  
input[type=text]:focus {
    background-color: lightblue;
  }
  input[type=text]:focus {
    border: 3px solid #555;
  }

/*Input con icona/immagine*/
/*Se vuoi un'icona all'interno dell'input, usa la background-image 
proprietà e posizionala con la background-position proprietà.*/
input[type=text] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

 /*Input di ricerca animato
 */ 
 input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

/*text Area*/
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  