/*La proprietà CSS overflow controlla cosa succede ai contenuti troppo grandi per essere 
inseriti in un'area specifica.
La overflowproprietà specifica se ritagliare il contenuto o aggiungere barre di scorrimento 
quando il contenuto di un elemento è troppo grande per rientrare nell'area specificata.
L' overflowimmobile ha i seguenti valori:
visible- Predefinito. L'overflow non viene tagliato. Il contenuto viene renderizzato 
all'esterno della casella dell'elemento
hidden- L'overflow viene ritagliato e il resto del contenuto sarà invisibile
scroll- L'overflow viene ritagliato e viene aggiunta una barra di scorrimento 
per visualizzare il resto del contenuto
auto- Simile a scroll, ma aggiunge le barre di scorrimento solo quando necessario
Nota: la overflowproprietà funziona solo per gli elementi blocco con un'altezza specificata.
Per impostazione predefinita, l'overflow è visible, il che significa che non viene ritagliato 
e viene renderizzato all'esterno del riquadro dell'elemento:*/
div {
    width: 200px;
    height: 65px;
    background-color: coral;
    overflow: visible;
  }
/*traboccare: nascosto
Con il hidden valore, l'overflow viene tagliato e il resto del contenuto viene nascosto*/
div {
    overflow: hidden;
  }
/*traboccare: scorrere
Impostando il valore su scroll, l'overflow viene tagliato 
e viene aggiunta una barra di scorrimento per scorrere all'interno della casella.*/
  div {
    overflow: scroll;
  }
/*traboccamento: automatico*/
/*Il autovalore è simile a scroll, ma aggiunge le barre di scorrimento solo quando necessario:*/
div {
    overflow: auto;
  }

/*overflow-x e overflow-y
Le proprietà overflow-x e overflow-y 
specificano se modificare l'overflow del contenuto solo orizzontalmente o verticalmente
overflow-x specifica cosa fare con i bordi sinistro/destro del contenuto.
overflow-y specifica cosa fare con i bordi superiore/inferiore del contenuto.*/
div {
    overflow-x: hidden; 
    overflow-y: scroll; 
  }
  
