/*Cosa sono gli pseudoelementi?
Uno pseudo-elemento CSS viene utilizzato per definire lo stile di parti specifiche di un elemento.

Ad esempio, può essere utilizzato per:

Imposta lo stile della prima lettera o riga di un elemento
Inserire il contenuto prima o dopo un elemento
Definisci lo stile dei marcatori degli elementi dell'elenco
Imposta lo stile della casella di visualizzazione dietro una finestra di dialogo


Sintassi*/
/**selector::pseudo-element {
    property: value;
  }**/

/*Il pseudo-elemento ::first-line
Lo ::first-line pseudo-elemento viene utilizzato 
per aggiungere uno stile speciale alla prima riga di un testo.*/  
p::first-line {
    color: #ff0000;
    font-variant: small-caps;
  }
/*Nota: lo ::first-linepseudo-elemento può essere applicato solo agli elementi a livello di blocco.

Le seguenti proprietà si applicano allo ::first-line pseudo-elemento:

proprietà del carattere
proprietà del colore
proprietà di sfondo
spaziatura delle parole
spaziatura delle lettere
decorazione del testo
allineamento verticale
testo-trasforma
altezza della linea
chiaro

Il pseudo-elemento ::first-letter
Lo ::first-letter pseudo-elemento viene utilizzato
 per aggiungere uno stile speciale alla prima lettera di un testo.*/
 p::first-letter {
    color: #ff0000;
    font-size: xx-large;
  }
/*Nota: lo ::first-letter pseudo-elemento può essere applicato solo agli elementi a livello di blocco.

Le seguenti proprietà si applicano allo pseudo-elemento ::first-letter : 

proprietà del carattere
proprietà del colore 
proprietà di sfondo
proprietà del margine
proprietà di riempimento
proprietà di confine
decorazione del testo
vertical-align (solo se "float" è "none")
testo-trasforma
altezza della linea
galleggiante
chiaro*/

p.intro::first-letter {
    color: #ff0000;
    font-size: 200%;
  }

/*Pseudo-elementi multipli*/
p::first-letter {
    color: #ff0000;
    font-size: xx-large;
  }
  
  p::first-line {
    color: #0000ff;
    font-variant: small-caps;
  }

/*CSS - Il pseudo-elemento ::before
Lo ::before pseudo-elemento può essere utilizzato 
per inserire del contenuto prima del contenuto di un elemento.*/
h1::before {
    content: url(smiley.gif);
  }

/*CSS - Il pseudo-elemento ::after
Lo ::afterpseudo-elemento può essere utilizzato per inserire del contenuto dopo il contenuto di un elemento.*/
h1::after {
    content: url(smiley.gif);
  }

/*CSS - Il pseudo-elemento ::marker
Lo ::marker pseudo-elemento seleziona i marcatori degli elementi dell'elenco.*/ 
::marker {
    color: red;
    font-size: 23px;
  }

/*CSS - Il pseudo-elemento ::selection*/
/*Lo ::selection pseudo-elemento corrisponde alla parte di un elemento selezionata da un utente.
Le seguenti proprietà CSS possono essere applicate a ::selection: color, background, cursor, e outline.*/
::selection {
    color: red;
    background: yellow;
  }

 /*Lo Pseudo-elemento ::first-line
Lo pseudo-elemento ::first-line viene utilizzato
 per aggiungere uno stile speciale alla prima riga di un testo.*/ 
 p::first-line {
  color: red;
}

/*Le seguenti proprietà si applicano allo pseudo-elemento ::first-line:

proprietà del font
proprietà del colore
proprietà dello sfondo
word-spacing
letter-spacing
text-decoration
vertical-align
text-transform
line-height
clear

Lo Pseudo-elemento ::first-letter
Lo pseudo-elemento ::first-letter viene utilizzato 
per aggiungere uno stile speciale alla prima lettera di un testo.*/
p::first-letter {
  color: red;
}
/*Le seguenti proprietà si applicano al pseudo-elemento ::first-letter:

proprietà del font
proprietà del colore
proprietà dello sfondo
proprietà del margine
proprietà del padding
proprietà del bordo
text-decoration
vertical-align (solo se “float” è “none”)
text-transform
line-height
float
clear*/

/*Pseudo-elemento ::before
Il pseudo-elemento ::before può essere utilizzato 
per inserire del contenuto prima del contenuto di un elemento.*/
p::before {
  content: url(immagine.png);
}

/*Pseudo-elemento ::after
Il pseudo-elemento ::after può essere utilizzato 
per inserire del contenuto dopo il contenuto di un elemento.*/
p::after {
  content: url(immagine.png);
}

/*Pseudo-elemento ::marker
Lo pseudo-elemento ::marker seleziona i marcatori degli elementi di una lista.*/
::marker {
  color: #212121;
}

/*Pseudo-elemento ::selection
Il pseudo-elemento ::selection corrisponde alla porzione di un elemento selezionata dall’utente.*/
::selection {
  color: yellow;
  background: #212121;
}
/*Ogni elemento HTML ha un valore di display predefinito a seconda del tipo. 
Il valore di visualizzazione predefinito per la maggior parte degli elementi è “block” o “inline”.*/
/*Elementi block
Un elemento di livello di blocco inizia sempre su una nuova riga e occupa l’intera larghezza disponibile.
Elementi inline
Un elemento inline non inizia su una nuova riga e occupa solo la larghezza necessaria.

Differenza tra display:none e visibility:hidden
É possibile nascondere un elemento sia con display:none che visibility:hidden, 
tuttavia con risultati decisamente distinti. Con display none andiamo a nascondere 
l’elemento come se non esistesse nella pagina facendo traslare il resto del layout. 
Con visibility invece equivale ad avere un elemento con opacità zero, 
mantenendo però la sua posizione nella pagin.*/
h1.hidden {
  display: none;
}
h1.hidden {
  visibility: hidden;
}




