/*CSS ha le seguenti proprietà di struttura:

outline-style
outline-color
outline-width
outline-offset
outline
Outline è diverso da borders ! A differenza di border, outline è disegnato all'esterno del bordo 
dell'elemento e può sovrapporsi ad altri contenuti. 
Inoltre, outline NON fa parte delle dimensioni dell'elemento; 
la larghezza e l'altezza totali dell'elemento non sono influenzate dalla larghezza di outline.

Stile di contorno CSS
La outline-styleproprietà specifica lo stile del contorno e può avere uno dei seguenti valori:

dotted- Definisce un contorno tratteggiato
dashed- Definisce un contorno tratteggiato
solid- Definisce un contorno solido
double- Definisce un doppio contorno
groove- Definisce un contorno scanalato 3D
ridge- Definisce un contorno scanalato 3D
inset- Definisce un contorno di inserto 3D
outset- Definisce un contorno di partenza 3D
none- Non definisce alcun contorno
hidden- Definisce un contorno nascosto*/
p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}

/*Larghezza contorno CSS
La outline-widthproprietà specifica la larghezza del contorno e può avere uno dei seguenti valori:

sottile (tipicamente 1px)
medio (tipicamente 3px)
spesso (tipicamente 5px)
Una dimensione specifica (in px, pt, cm, em, ecc.)*/
p.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
  }
  
  p.ex2 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
  }
  
  p.ex3 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thick;
  }
  
  p.ex4 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
  }

  /*Colore del contorno CSS
  La outline-colorproprietà viene utilizzata per impostare il colore del contorno.

Il colore può essere impostato tramite:

nome - specifica un nome di colore, come "rosso"
HEX - specifica un valore esadecimale, ad esempio "#ff0000"
RGB - specifica un valore RGB, come "rgb(255,0,0)"
HSL - specifica un valore HSL, come "hsl(0, 100%, 50%)"
inverti - esegue un'inversione del colore*/
p.ex1 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: red;
  }
  
  p.ex2 {
    border: 2px solid black;
    outline-style: dotted;
    outline-color: blue;
  }
  
  p.ex3 {
    border: 2px solid black;
    outline-style: outset;
    outline-color: grey;
  }
/*Valori HEX
Il colore del contorno può essere specificato anche utilizzando un valore esadecimale (HEX):*/  
p.ex1 {
    outline-style: solid;
    outline-color: #ff0000; /* red */
  }
  /*Valori RGB
Oppure utilizzando i valori RGB:*/
p.ex1 {
    outline-style: solid;
    outline-color: rgb(255, 0, 0); 
  }
  /*Valori HSL
È possibile utilizzare anche i valori HSL:*/
p.ex1 {
    outline-style: solid;
    outline-color: hsl(0, 100%, 50%); /* red */
  }
  /*CSS Outline - Proprietà abbreviata*/

  /*La outline proprietà è una proprietà abbreviata 
  per impostare le seguenti proprietà individuali del contorno:
outline-width
outline-style(necessario)
outline-color
La outline proprietà è specificata come uno, due o tre valori dall'elenco sopra.*/
p.ex1 {outline: dashed;}
p.ex2 {outline: dotted red;}
p.ex3 {outline: 5px solid yellow;}
p.ex4 {outline: thick ridge pink;}

/*Spostamento contorno CSS*/
/*La outline-off set proprietà aggiunge spazio tra un contorno e il bordo/bordo di un elemento.
 Lo spazio tra un elemento e il suo contorno è trasparente.*/
 p {
    margin: 30px;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
  }