/*Il selettore di elementi seleziona gli elementi HTML in base al nome dell'elemento.*/
p {
    text-align: center;
    color: red;
  }
/*Il selettore CSS id*/
/*Il selettore id utilizza l'attributo id di un elemento HTML per selezionare un elemento specifico.

L'ID di un elemento è univoco all'interno di una pagina, quindi il selettore ID 
viene utilizzato per selezionare un elemento univoco!

Per selezionare un elemento con un ID specifico, scrivere un carattere cancelletto (#) 
seguito dall'ID dell'elemento.*/
#para1 {
    text-align: center;
    color: red;
  }
  /*Nota: il nome di un ID non può iniziare con un numero!*/

  /*Il selettore di classe CSS*/
  /*Il selettore di classe seleziona gli elementi HTML con un attributo di classe specifico.*/
  /*Per selezionare elementi con una classe specifica, scrivere un punto (.) seguito dal nome della classe.*/
  .center {
    text-align: center;
    color: red;
  }
/*È anche possibile specificare che solo determinati 
elementi HTML debbano essere interessati da una classe.*/ 
p.center {
    text-align: center;
    color: red;
  }
  
/*Gli elementi HTML possono anche fare riferimento a più di una classe.*/
/**<p class="center large">This paragraph refers to two classes.</p>**/
/*Nota: il nome di una classe non può iniziare con un numero!*/

/*Il selettore universale CSS*/
/*Il selettore universale (*) seleziona tutti gli elementi HTML nella pagina.*/

* {
    text-align: center;
    color: blue;
  }

  /*Il selettore di raggruppamento CSS*/
  /*Il selettore di raggruppamento seleziona tutti gli elementi HTML con le stesse definizioni di stile.*/
  h1 {
    text-align: center;
    color: red;
  }
  
  h2 {
    text-align: center;
    color: red;
  }
  
  p {
    text-align: center;
    color: red;
  }
/*Raggruppamento esempio*/
h1, h2, p {
    text-align: center;
    color: red;
  }