/*Sfondi CSS*/
/**Le proprietà di sfondo CSS vengono utilizzate per aggiungere effetti di sfondo agli elementi./
/**La background-colorproprietà specifica il colore di sfondo di un elemento.*/
body {
  background-color: lightblue;
}
/*Opacità / Trasparenza
La opacityproprietà specifica l'opacità/trasparenza di un elemento. 
Può assumere un valore da 0,0 a 1,0. Più basso è il valore, più trasparente*/
div {
    background-color: green;
    opacity: 0.3;
  }
/* quando si usa la opacityproprietà per aggiungere trasparenza allo sfondo di un elemento,
   tutti i suoi elementi figlio ereditano la stessa trasparenza. 
   Ciò può rendere il testo all'interno di un elemento completamente trasparente difficile da leggere.
   
   
   Trasparenza tramite RGBA*/

   div {
    background: rgba(0, 128, 0, 0.3) 
  }

  /*Immagine di sfondo CSS*/

  /*La background-imageproprietà specifica un'immagine da utilizzare come sfondo di un elemento
  Per impostazione predefinita, l'immagine viene ripetuta in modo da coprire l'intero elemento.
  quando si utilizza un'immagine di sfondo, assicurarsi che non disturbi il testo.*/
  body {
    background-image: url("paper.gif");
  }
p {
  background-image: url("paper.gif");
}

/*Ripetizione dello sfondo CSS
Per impostazione predefinita, 
la background-image proprietà 
ripete un'immagine sia orizzontalmente che verticalmente.*/
body {
    background-image: url("gradient_bg.png");
  }
/*Se l'immagine sopra viene ripetuta solo orizzontalmente 
( background-repeat: repeat-x;), lo sfondo apparirà migliore*/

body {
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
  }
  /*per ripetere un'immagine verticalmente, impostabackground-repeat: repeat-y;*/
 
  /*CSS background-repeat: nessuna ripetizione*/
  /*Anche la background-repeat proprietà specifica 
  che l'immagine di sfondo venga mostrata una sola volta*/
  body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
  }

  /*Posizione dello sfondo CSS*/
  /**La background-positionproprietà viene utilizzata 
  per specificare la posizione dell'immagine di sfondo*/
  body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}

/*CSS sfondo-allegato*/
/*La background-attachment proprietà specifica se l'immagine di sfondo deve scorrere o essere fissa
Specificare che l'immagine di sfondo deve essere fissa*/
body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }

  /*Specifica che l'immagine di sfondo deve scorrere insieme al resto della pagina*/
  body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
  }

  /*Sfondo CSS - Proprietà abbreviata
  Per accorciare il codice, è anche possibile specificare tutte le proprietà di sfondo 
  in una singola proprietà. 
  Questa è chiamata proprietà abbreviata.*/
  body {
    background-color: #ffffff;
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
  body {
    background: #ffffff url("img_tree.png") no-repeat right top;
  }
  /*Quando si utilizza la proprietà abbreviata, l'ordine dei valori della proprietà è:

background-color
background-image
background-repeat
background-attachment
background-position
Non importa se uno dei valori delle proprietà è mancante, purché gli altri siano in questo ordine.*/