/*I CSS hanno numerose proprietà per la formattazione del testo.
La color proprietà è usata per impostare il colore del testo. Il colore è specificato da:

un nome di colore - come "rosso"
un valore HEX - come "#ff0000"
un valore RGB - come "rgb(255,0,0)"*/
body {
    color: blue;
  }
  
  h1 {
    color: green;
  }
  /*Colore del testo e colore di sfondo*/
  body {
    background-color: lightgrey;
    color: blue;
  }
  
  h1 {
    background-color: black;
    color: white;
  }
  
  div {
    background-color: blue;
    color: white;
  }
/*Allineamento del testo e direzione del testo
In questo capitolo imparerai le seguenti proprietà:

text-align
text-align-last
direction
unicode-bidi
vertical-align

Allineamento del testo 
La text-align proprietà viene utilizzata per impostare l'allineamento orizzontale di un testo.
Un testo può essere allineato a sinistra o a destra, centrato o giustificato.
L'esempio seguente mostra il testo allineato al centro e a sinistra e a destra*/  
h1 {
    text-align: center;
  }
  
  h2 {
    text-align: left;
  }
  
  h3 {
    text-align: right;
  }
  /*Quando la text-alignproprietà è impostata su "justify", 
  ogni riga viene allungata in modo che abbia la stessa larghezza 
  e i margini sinistro e destro siano dritti*/
  div {
    text-align: justify;
  }
  /*La text-align-lastproprietà specifica come allineare l'ultima riga di un testo*/
  p.a {
    text-align-last: right;
  }
  
  p.b {
    text-align-last: center;
  }
  
  p.c {
    text-align-last: justify;
  }
  
/*Le proprietà directione unicode-bidi possono essere utilizzate per modificare la direzione del testo 
di un elemento*/
p {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

/*La vertical-align proprietà imposta l'allineamento verticale di un elemento.*/
img.a {
    vertical-align: baseline;
  }
  
  img.b {
    vertical-align: text-top;
  }
  
  img.c {
    vertical-align: text-bottom;
  }
  
  img.d {
    vertical-align: sub;
  }
  
  img.e {
    vertical-align: super;
  }

/*Decorazione del testo
In questo capitolo imparerai le seguenti proprietà:

text-decoration-line
text-decoration-color
text-decoration-style
text-decoration-thickness
text-decoration
La text-decoration-line proprietà viene utilizzata per aggiungere una linea decorativa al testo.*/
h1 {
    text-decoration-line: overline;
  }
  
  h2 {
    text-decoration-line: line-through;
  }
  
  h3 {
    text-decoration-line: underline;
  }
  
  p {
    text-decoration-line: overline underline;
  }
  /*La text-decoration-color proprietà viene utilizzata per impostare il colore della linea decorativa.*/

  h1 {
    text-decoration-line: overline;
    text-decoration-color: red;
  }
  
  h2 {
    text-decoration-line: line-through;
    text-decoration-color: blue;
  }
  
  h3 {
    text-decoration-line: underline;
    text-decoration-color: green;
  }
  
  p {
    text-decoration-line: overline underline;
    text-decoration-color: purple;
  }
/*La text-decoration-style proprietà viene utilizzata per impostare lo stile della linea decorativa.*/
h1 {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
  
  h2 {
    text-decoration-line: underline;
    text-decoration-style: double;
  }
  
  h3 {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
  
  p.ex1 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
  }
  
  p.ex2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
  
  p.ex3 {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
  }
/*La text-decoration-thickness proprietà viene utilizzata per impostare lo spessore della linea decorativa.*/
h1 {
    text-decoration-line: underline;
    text-decoration-thickness: auto;
  }
  
  h2 {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
  }
  
  h3 {
    text-decoration-line: underline;
    text-decoration-thickness: 25%;
  }
  
  p {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
  }
/*La text-decorationproprietà è una proprietà abbreviata per:
text-decoration-line(necessario)
text-decoration-color(opzionale)
text-decoration-style(opzionale)
text-decoration-thickness(opzionale)*/  
h1 {
    text-decoration: underline;
  }
  
  h2 {
    text-decoration: underline red;
  }
  
  h3 {
    text-decoration: underline red double;
  }
  
  p {
    text-decoration: underline red double 5px;
  }

  /*rimuovere la sottolineatura*/
  a {
    text-decoration: none;
  }
  
  /*Trasformazione del testo*/
  /*La text-transform proprietà viene utilizzata per specificare lettere maiuscole e minuscole in un testo.*/
  p.uppercase {
    text-transform: uppercase;
  }
  
  p.lowercase {
    text-transform: lowercase;
  }
  
  p.capitalize {
    text-transform: capitalize;
  }
  /*Spaziatura del testo
In questo capitolo imparerai le seguenti proprietà:

text-indent
letter-spacing
line-height
word-spacing
white-space

La text-indent proprietà viene utilizzata per specificare l'indentazione della prima riga di un testo*/
p {
    text-indent: 50px;
  }

/*Spaziatura delle lettere
La letter-spacingproprietà viene utilizzata per specificare lo spazio tra i caratteri in un testo.*/
h1 {
    letter-spacing: 5px;
  }
  
  h2 {
    letter-spacing: -2px;
  }

/*Altezza della linea
La line-height proprietà viene utilizzata per specificare lo spazio tra le righe:*/
p.small {
    line-height: 0.8;
  }
  
  p.big {
    line-height: 1.8;
  }

  /*Spaziatura delle parole
La word-spacingproprietà viene utilizzata per specificare lo spazio tra le parole in un testo.*/
p.one {
    word-spacing: 10px;
  }
  
  p.two {
    word-spacing: -2px;
  }

  /*Spazio bianco
La white-space proprietà specifica come vengono gestiti gli spazi vuoti all'interno di un elemento.*/
p {
    white-space: nowrap;
  }
  
/*Ombra nel testo*/
/*La text-shadow proprietà aggiunge un'ombra al testo.*/
h1 {
    text-shadow: 2px 2px;
  }

  h1 {
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  }