/*Le Variabili CSS, chiamate anche custom properties, definiscono i valori ripetuti*/
/*in un unico posto, in modo che siano facilmente riutilizzabili in tutto il documento.*/
/*Questo renderà il nostro codice più MODULARE  e più FACILE DA MANTENERE.​*/

:root{
    --main-color: blue;
    --secondary-color: red;
}
body{
    background-color: var(--main-color);
    color: var(--secondary-color);
}

/*La funzione var() viene utilizzata per inserire il valore di una variabile CSS.
Le variabili CSS hanno accesso al DOM, il che significa 
che puoi creare variabili con ambito locale o globale

Sintassi della funzione var()
var(--nome, valore)
nome (Obbligatorio). Il nome della variabile. Deve iniziare con due trattini ed è case sensitive.
valore (Facoltativo). Il valore di fallback che viene usato se la variabile non viene trovata

Come funziona var()
Le variabili CSS possono avere uno scope globale o locale.

Le variabili globali possono essere accessibili in tutto il documento, 
mentre le variabili locali possono essere utilizzate solo all’interno del selettore in cui sono dichiarate.
Per creare una variabile con scope globale, 
dichiarala all’interno del selettore :root. 
Il selettore :root corrisponde all’elemento radice del documento.

Per creare una variabile con scope locale, dichiarala all’interno del selettore che la utilizzerà.*/
:root {
    --rosso: red;
    --giallo: yellow;
  }
  
  body {
    background-color: var(--rosso);
  }
  
  h2 {
    border-bottom: 2px solid var(--rosso);
  }

/*I vantaggi dell’utilizzo di var() sono:

rende il codice più facile da leggere
rende molto più semplice modificare i valori dei colori*/