/*La column-count 
proprietà specifica il numero di colonne in cui deve essere suddiviso un elemento.*/
div {
    column-count: 3;
  }

/*Specifica lo spazio tra le colonne
La column-gap proprietà specifica lo spazio tra le colonne.*/
div {
    column-gap: 40px;
  }

/*Regole delle colonne CSS
La column-rule-style proprietà specifica lo stile della regola tra le colonne*/
div {
    column-rule-style: solid;
  }

/*La column-rule-width proprietà specifica la larghezza della regola tra le colonne*/
div {
    column-rule-width: 1px;
  }

/*La column-rule-colorproprietà specifica il colore della regola tra le colonne*/
div {
    column-rule-color: lightblue;
  }

/*Specificare quante colonne deve occupare un elemento
La column-span proprietà specifica su quante colonne deve estendersi un elemento.*/
h2 {
    column-span: all;
  }

/*Specificare la larghezza della colonna
La column-width proprietà specifica una larghezza ottimale consigliata per le colonne.*/
div {
    column-width: 100px;
  }