/*La proprietà CSS object-fitviene utilizzata per specificare come ridimensionare 
un elemento <img> o <video> per adattarlo al suo contenitore.
La proprietà CSS object-fit
La proprietà CSS object-fitviene utilizzata 
per specificare come ridimensionare un elemento <img> o <video> per adattarlo al suo contenitore.
Questa proprietà indica al contenuto di riempire il contenitore in vari modi,
 ad esempio "mantenendo le proporzioni" o "allungandosi e occupando più spazio possibile".*/
 img {
    width: 200px;
    height: 300px;
  }
/*Vediamo che l'immagine viene compressa per adattarsi al contenitore da 200x300 pixel 
Ecco dove object-fit entra in gioco la proprietà. 
La object-fit proprietà può assumere uno dei seguenti valori:
fill- Questa è l'impostazione predefinita. 
L'immagine viene ridimensionata per riempire la dimensione specificata. 
Se necessario, l'immagine verrà allungata o compressa per adattarsi
contain- L'immagine mantiene le sue proporzioni, 
ma viene ridimensionata per adattarsi alla dimensione specificata
cover- L'immagine mantiene il suo aspect ratio e riempie la dimensione data.
L'immagine verrà ritagliata per adattarsi
none- L'immagine non è ridimensionata
scale-down- l'immagine viene ridotta alla versione più piccola di noneo contain

Utilizzo di object-fit: copertura;
Se utilizziamo object-fit: cover;l'immagine mantiene 
il suo aspect ratio e riempie la dimensione data.*/  
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

/*Utilizzo di object-fit: contenere;
Se utilizziamo object-fit: contain;l'immagine mantiene le sue proporzioni,
 ma viene ridimensionata per adattarsi alla dimensione data*/
 img {
    width: 200px;
    height: 300px;
    object-fit: contain;
  }

/*Utilizzo di object-fit: fill;
Se utilizziamo object-fit: fill;l'immagine viene ridimensionata per riempire la dimensione data. */
img {
    width: 200px;
    height: 300px;
    object-fit: fill;
  }

/*Utilizzo di object-fit: nessuno;
Se utilizziamo object-fit: none;
l'immagine non ridimensionata:*/
img {
    width: 200px;
    height: 300px;
    object-fit: none;
  }

/*Utilizzo di object-fit: riduzione della scala;
Se utilizziamo object-fit: scale-down;l'immagine ridotta alla versione più piccola di noneo contain:*/
img {
    width: 200px;
    height: 300px;
    object-fit: scale-down;
  }
/*La proprietà CSS object-positionviene utilizzata per specificare come posizionare
 un elemento <img> o <video> all'interno del suo contenitore.
 Poi, usiamo object-fit: cover;per mantenere il rapporto di aspetto e per riempire la dimensione data. */  
 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
/*Utilizzo della proprietà object-position
Diciamo che la parte dell'immagine che viene mostrata non è posizionata come vogliamo. 
Per posizionare l'immagine, useremo la object-position proprietà.*/  
img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: 80% 100%;
  }
  