/*In questo capitolo imparerai come aggiungere più immagini di sfondo a un elemento.
Imparerai anche le seguenti proprietà:
background-size
background-origin
background-clip

Sfondi multipli CSS*/
/*CSS consente di aggiungere più immagini di sfondo per un elemento, 
tramite la background-image proprietà.
Le diverse immagini di sfondo sono separate
 da virgole e vengono disposte una sopra l'altra, 
 dove la prima immagine è quella più vicina all'osservatore.*/
 #example1 {
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
  }
/*È possibile specificare più immagini di sfondo utilizzando le singole proprietà di sfondo
 (come sopra) oppure la background proprietà abbreviata.*/
 #example1 {
    background: url(img_flwr.gif) right bottom no-repeat, url(paper.gif) left top repeat;
  }

/*Dimensioni dello sfondo CSS
La background-size proprietà CSS consente di specificare la dimensione delle immagini di sfondo.
La dimensione può essere specificata in lunghezze, 
percentuali oppure utilizzando una delle due parole chiave: contenere o coprire.*/
#div1 {
    background: url(img_flower.jpg);
    background-size: 100px 80px;
    background-repeat: no-repeat;
  }
/*Gli altri due valori possibili background-size sono contain e cover.
La contain parola chiave ridimensiona l'immagine di sfondo per renderla il più grande possibile 
(ma sia la sua larghezza che la sua altezza devono rientrare nell'area del contenuto). 
Pertanto, a seconda delle proporzioni dell'immagine di sfondo e dell'area di posizionamento dello sfondo, 
potrebbero esserci alcune aree dello sfondo che non sono coperte dall'immagine di sfondo.
La cover parola chiave ridimensiona l'immagine di sfondo in modo che l'area del contenuto 
sia completamente coperta dall'immagine di sfondo */
#div1 {
    background: url(img_flower.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #div2 {
    background: url(img_flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

/*Definisci le dimensioni di più immagini di sfondo
Quando si lavora con più sfondi, la background-size proprietà accetta anche più valori 
per la dimensione dello sfondo (utilizzando un elenco separato da virgole).*/
#example1 {
    background: url(img_tree.gif) left top no-repeat, url(img_flwr.gif) right bottom no-repeat, url(paper.gif) left top repeat;
    background-size: 50px, 130px, auto;
  }

/*Proprietà CSS background-origin
La background-origin proprietà CSS specifica dove viene posizionata l'immagine di sfondo.

La proprietà assume tre valori diversi:

border-box - l'immagine di sfondo inizia dall'angolo in alto a sinistra del bordo
padding-box - (predefinito) l'immagine di sfondo inizia dall'angolo in alto a sinistra del bordo di padding
content-box - l'immagine di sfondo inizia dall'angolo in alto a sinistra del contenuto*/
#example1 {
    border: 10px solid black;
    padding: 35px;
    background: url(img_flwr.gif);
    background-repeat: no-repeat;
    background-origin: content-box;
  }

/*Proprietà CSS background-clip
La proprietà CSS background-clip specifica l'area di pittura dello sfondo.

La proprietà assume tre valori diversi:

border-box - (predefinito) lo sfondo è dipinto sul bordo esterno del bordo
padding-box - lo sfondo è dipinto sul bordo esterno dell'imbottitura
content-box - lo sfondo è dipinto all'interno della casella del contenuto*/
#example1 {
    border: 10px dotted black;
    padding: 35px;
    background: yellow;
    background-clip: content-box;
  }

