/*Le transizioni CSS consentono di modificare i valori 
delle proprietà in modo fluido, per una durata definita.
transition
transition-delay
transition-duration
transition-property
transition-timing-function

Come utilizzare le transizioni CSS?
Per creare un effetto di transizione, è necessario specificare due cose:

la proprietà CSS a cui vuoi aggiungere un effetto
la durata dell'effetto
Nota: se non viene specificata la durata, la transizione non avrà effetto, 
perché il valore predefinito è 0.*/
div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
  }
/*Modificare diversi valori di proprietà*/
div {
    transition: width 2s, height 4s;
  }
/*Specificare la curva di velocità della transizione
La transition-timing-function
proprietà specifica la curva di velocità dell'effetto di transizione.
La proprietà transition-timing-function può avere i seguenti valori:
ease- specifica un effetto di transizione con un inizio lento, poi veloce, 
quindi una fine lenta (questo è l'impostazione predefinita)
linear- specifica un effetto di transizione con la stessa velocità dall'inizio alla fine
ease-in- specifica un effetto di transizione con un avvio lento
ease-out- specifica un effetto di transizione con una fine lenta
ease-in-out- specifica un effetto di transizione con inizio e fine lenti
cubic-bezier(n,n,n,n)- consente di definire i propri valori in una funzione cubica-bezier*/  
#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;}

/*Ritardare l'effetto di transizione
La transition-delay proprietà specifica un ritardo (in secondi) per l'effetto di transizione.*/
div {
    transition-delay: 1s;
}
